.main{
    margin-bottom: 10rem;
}

.column1 {
    float: left;
    width: 30%;
    padding: 0 10px;
    animation: slide-in-left 20s ease forwards;
  }
  .column2 {
    float: left;
    width: 60%;
    padding: 0 0px;
    animation: slide-in-right 20s ease forwards;
  }
  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }