.mainHeading{
    font-size:4rem;
    color:white;
    margin-left: 10%;
    margin-right:10%;
    padding-top: 4rem;
    padding-bottom:4rem ;
}
.description{
    font-size:2rem;
    color:white;
    margin-left: 10%;
    margin-right:10%;
    padding-top: 2rem;
    padding-bottom:2rem ;
}
.btn{
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1rem;
    font-size:2rem;
    color:white;
    background-color: #40B555;
    border:none;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
}
.btn:hover{
    background-color:#bed926
}

@media screen and (max-width: 860px) {
    .mainHeading{
        font-size: 2rem;
    }
    .btn{
        margin-left: 2rem;
        font-size: 1.5rem;
        margin-right: 2rem;
    }
}

