.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin-left:10%;
    margin-right: 40%;
    margin-top: -10rem;
    position: relative;
    background-color: #383838;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }
  @media screen and (max-width: 860px) {
    .summary{
      width: 70%;
      margin-left:auto;
      margin-right: auto;
      margin-top: -10rem;
    }
  }