.heading{
    color:white;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.content{
    font-size:1.5rem;
    color:white;
}
.get_started{
    background-color: #40B554;
    color:white;
    padding: 1rem;
    font-size: 2rem;
    margin-left: 25%;
    margin-right: 5%;
    width:20%;
    margin-top:3rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    border:none;
}
.learn_more{
    background-color: #40B554;
    color:white;
    padding: 1rem;
    font-size: 2rem; 
    margin-left: 5%;
    margin-right: 25%; 
    width:20%;
    margin-top:1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border:none;
}


@media(max-width:960px){
.get_started{
    background-color: #40B554;
    color:white;
    padding: 1rem;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
    margin-top:1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border:none;
}
.learn_more{
    background-color: white;
    color:#40B554;
    padding: 1rem;
    font-size: 1.5rem; 
    margin-left: 15%;
    margin-right: 15%; 
    width:70%;
    margin-top:1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border:none;
}
.content{
    font-size:1rem;
    color:white;
}
}