.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    margin-right: 0.5;
    float: left;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

  }

  .backGroundImage{
    width: 90%;
    margin-right: 10%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 0%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }