.Main{
    font-size: 3rem;
    color:white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.content{
    text-align: center;
    font-size: 1.3rem;
    color:white;
    margin-left:15% ;
    margin-right:15%;
    padding-bottom: 3rem;
}
.btn{
    padding: 1.2rem;
    color:white;
    border-radius: 1rem;
    font-size:2rem;
    background-color: #40B555;
    margin-bottom: 4rem;
    border:none;
}
.btn:hover{
   background-color: #cbe121; 
}
